# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
reception-service/target/

# Spring Boot fat jar
*.jar

.metadata/

